html { font-family: "Roboto"; }

@media screen and (max-width: 479px) {
    .user-wrapper { display: none; }
}

@media screen and (min-width: 1800px) {
    .section-padding {
        margin-left: -237.86px;
    }

    .section-inner {
        margin: auto !important;
        padding-top: 10px;
        padding-right: 0 !important;
        max-width: 1200px;
        min-width: 1100px;
    }
}

.search-wrapper {
    display: inline-block;
    height: 45px;
    left: 0;
    right: 0;
    width: 50%;
}

.search-box {
    background-color: #3d99df;
    border: 0;
    color: inherit;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300 !important;
    height: 35px;
    margin: 0;
    outline: none;
    padding: 5px 15px 5px 50px;
    width: calc(100% - 65px);
}

.search-button {
    background-color: transparent;
    border: 0;
    color: #f1f1f1;
    float: left;
    margin: 10px 5px auto 5px !important;
    outline: none;
    padding-bottom: 0 !important;
    position: absolute;
}

.header-style,
.mdl-layout__header-row {
    background-color: #047ad4 !important;
    height: 55px !important;
    min-height: 55px !important;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {
    .header-style,
    .mdl-layout__header-row { padding-left: 30px !important; }

    .mdl-layout__drawer-button {
        margin: 3px 4px !important;
        outline: none;
    }

    .main-sub-title { margin-right: 10px; }

    .body-sidebar { display: none; }

    .search-wrapper { margin-left: 10px; }
}

@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button { display: none !important; }

    .header-style,
    .mdl-layout__header-row { padding: 0 !important; }

    .main-header-title { padding-left: 25px; }

    .search-wrapper {
        margin: auto;
        position: fixed;
    }

    .main-sub-title {
        border-left: solid 1px #f5f5f5;
        max-width: 100px;
        padding-left: 10px;
    }

    .page-content { 
        margin-left: 237.86px;
    }

    .section-inner {
        margin: auto !important;

    }

    .user-wrapper { margin-right: 10px !important; }
}

.main-header-title a {
    color: #f1f1ff;
    font-family: "Roboto";
    font-size: 1.5em;
    font-weight: 500;
    max-width: 150px;
    padding-right: 20px;
    text-decoration: none !important;
}

.main-sub-title {
    font-size: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    white-space: normal;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cce0ff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cce0ff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cce0ff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cce0ff;
}

::-moz-selection {
    /* Code for Firefox */
    background: #cce0ff !important;
}

.body-sidebar {
    background-color: #f1f1f1;
    height: 100vh;
    margin: 0;
    padding: 25px 10px 25px 25px;
    position: fixed;
    width: 200px;
    border-right: 3px solid #a6a6a6;
}

.body-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-sidebar a {
    color: #024476 !important;
    font-weight: 600;
}

.body-sidebar a:active {
    color: blue !important;
    font-weight: 600;
}

.body-sidebar a:hover {
    color: #0f86e2 !important;
    font-weight: 600;
}

.body-sidebar ul li ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.body-sidebar ul li ul li {
    margin: 0;
    padding: 0;
}

.body-sidebar li { padding-bottom: 10px; }

.mdl-cell { height: auto !important; }

.mdl-card {
    height: auto !important;
    max-height: auto !important;
    max-width: auto !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: auto !important;
}

.user-icon {
    background-color: #f1f1f1;
    border-radius: 50%;
    color: #000000;
    font-size: 0.8em !important;
    vertical-align: middle;
}

.user-wrapper { margin-left: auto !important }

.user-name { padding-right: 5px; }

.mdl-menu--bottom-right a {
    color: black !important;
    text-decoration: none !important;
}