.activity-title,
.noti-type {
    padding: 8px 16px 8px 16px !important;
    font-size: 0.85em;
    font-weight: 600;
}

.loan-title,
.noti-date {
    padding: 8px 16px 8px 16px !important;
    font-size: 0.9em;
}

.noti-support {
    padding: 0 !important;
    
}

.noti-support ul {
    list-style-type: none;
    padding: 10px 0 5px 0 !important;
    margin: 0 !important;
    font-size: 0.95em;
    font-weight: 600;
}

.noti-owner ul {
    margin: 0 !important;
    font-weight: 500;
}

.noti-owner li {
    display: inline;
    font-size: 0.9em;
}

.mdl-card__supporting-text {
    padding: 0 16px  !important;
}

.mdl-card__actions {
    padding: 0 !important;
}

.noti-button1 {
    float: left;
}

.noti-button2 {
    float: right;
}

.recent-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 0.9em;
    display: list-item !important;
}

.recent-card {
    padding: 8px 16px 5px 16px !important;
}

.recent-owner {
    height: 100%;
}

.recent-owner2 ul,
.recent-owner ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 5px 16px;
}

.recent-owner2 li,
.recent-owner li {
    display: inline;
    font-size: 0.8em;
}

.activity-support ul {
    list-style-type: none;
    padding: 0 16px;
    margin: 5px 0 !important;
    font-weight: 600;
    font-size: 0.95em;
}

.activity-support ul li ul {
    font-weight: 500;
    vertical-align: middle;
}

.activity-support {
    padding: 0 !important;
    width: 100% !important;
}

.loan-title ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.activity-sec img {
    margin: 5px auto;
}

.recent-owner2 ul,
.noti-owner ul {
    padding-top: 3px !important;
    margin: 0 !important;
}